$include /etc/inputrc

# Be 8 bit clean.
set input-meta on
set output-meta on
set convert-meta off

# Default mode
set editing-mode emacs

# No bells
set bell-style visible 

# Expand ~ to real path
set expand-tilde on

# Default to showing options, rather than requiring two tabs
set show-all-if-ambiguous on

# Append slash when completing symlinks to directories
set mark-symlinked-directories on

# Case insensitive tab completion
set completion-ignore-case on

# Fix delete key
# "\e[3~": delete-char

# Bind the up arrow to history search, instead of history step
"\e[A": history-search-backward
"\eOA": history-search-backward

# And the reverse (down)
"\e[B": history-search-forward 
"\eOB": history-search-forward

# Control-arrow to move between words
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# Alt-arrow to move between words
# "\e[1;3C": forward-word
# "\e[1;3D": backward-word

# Control-arrow to move to start/end of line
# "\e[1;5C": end-of-line
# "\e[1;5D": beginning-of-line
# "\e[5C": end-of-line
# "\e[5D": beginning-of-line
# "\e\e[C": end-of-line
# "\e\e[D": beginning-of-line

# Show only the end (differences) of available completions
set completion-prefix-display-length 2

# Complete completions
"\e[1;3A": menu-complete
"\e[1;3B": menu-complete-backward

